---
extends: default
rules:
  line-length:
    max: 120
    level: warning
  trailing-spaces: enable
  truthy:
    allowed-values: ['true', 'false', 'on']
  document-start: disable
  comments:
    min-spaces-from-content: 1
