[submodule "zanshin-pi-extension"]
	path = submodules/zanshin-pi-extension
	url = https://github.com/hhellbusch/zanshin-pi-extension.git
[submodule "lid-pi-extension"]
	path = submodules/lid-pi-extension
	url = https://github.com/hhellbusch/lid-pi-extension.git
[submodule "submodules/paude"]
	path = submodules/paude
	url = https://github.com/hhellbusch/paude.git
[submodule "submodules/helm-charts"]
	path = submodules/helm-charts
	url = https://github.com/hhellbusch/redhat-cop-helm-charts.git
[submodule "submodules/paude-pi-extension"]
	path = submodules/paude-pi-extension
	url = https://github.com/hhellbusch/paude-pi-extension.git
[submodule "submodules/pi-anthropic-vertex"]
	path = submodules/pi-anthropic-vertex
	url = https://github.com/hhellbusch/pi-anthropic-vertex.git
[submodule "submodules/pi-openai-compat"]
	path = submodules/pi-openai-compat
	url = https://github.com/hhellbusch/pi-openai-compat.git
[submodule "submodules/paude-proxy"]
	path = submodules/paude-proxy
	url = https://github.com/hhellbusch/paude-proxy.git
